
<h1>#{ fdTitle forum }</h1>

<p><a href="@{HomeR}">Torna a la pàgina principal</a></p>

<table class="table table-striped table-condensed">
  <thead><tr><th>Categoria</th><th>Títol</th><th>Moderador</th><th>Creat</th><th>Topics</th><th>Posts</th></tr></thead>
  <tbody>
      <tr>
        <td>#{ fdCategory forum }</td><td>#{ fdTitle forum }</td>
        <td>^{ uidNameWidget (fdModeratorId forum) }</td>
        <td>^{ dateWidget (fdCreated forum) }</td>
        <td>#{ fdTopicCount forum }</td>
        <td>#{ fdPostCount forum } </td>
      </tr>
  </tbody>
</table>

<div class="bg-light">#{ fdDescription forum }</div>

$if{ canModerateForum mbuser forum }
  <h3>Edita el fòrum</h3>
  <form role="form" method="POST" action="@{ForumR fid}">
    <input type="hidden" name="action" value="edit-forum">
    ^{eformw}
    <button type="submit" class="btn btn-primary">Desa canvis</button>
  </form>
  <form role="form" method="POST" action="@{ForumR fid}">
    <input type="hidden" name="action" value="delete-forum">
    <button type="submit" class="btn btn-danger">Elimina el fòrum</button>
  </form>
$end

<h3>Topics</h3>
<table class="table table-striped table-condensed">
  <thead><tr><th>Qüestió</th><th>Per / Iniciada</th><th>Posts</th><th>Última activitat</th><th></th></tr></thead>
  <tbody>
    $forall{ (tid, topic) <- topics }
      <tr>
        <td><a href="@{TopicR tid}"><strong>#{ tdSubject topic }</strong></a></td>
        <td>^{ uidNameWidget (tdUserId topic) } / <span class="small">^{ dateWidget (tdStarted topic) }</span></td>
        <td>#{ tdPostCount topic }</td>
        <td>$maybe{ lastpid <- tdLastPostId topic } ^{pidPostedWidget lastpid} $end </td>
        <td>
          $if{ canModerateForum mbuser forum }
            <form role="form" method="POST" action="@{ForumR fid}">
              <input type="hidden" name="action" value="delete-topic">
              <input type="hidden" name="topic" value="#{toPathPiece tid}">
              <button type="submit" class="btn btn-danger btn-sm">Elimina</button>
            </form>
          $end
        </td>
      </tr>
    $end
  </tbody>
</table>

$if{ isJust mbuser }
  <h3>Nova pregunta</h3>
  <form role="form" method="POST" action="@{ForumR fid}">
    <input type="hidden" name="action" value="new-topic">
    ^{tformw}
    <button type="submit" class="btn btn-success">Publica la pregunta</button>
  </form>
$end
